* {
    box-sizing: border-box;
    --small-size: 4px;
    --middle-size: 8px;
    --large-size: 12px;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    min-width: 300px;
    padding: var(--middle-size);
    border-radius: var(--small-size);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px var(--large-size) rgba(0,0,0,0.22);
}

.wrapper-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--small-size);
    margin: var(--small-size) 0;
    border-radius: var(--small-size);
}

.wrapper-item:hover {
    background: rgba(0, 0, 0, 0.2);
}

.btn {
    border: var(--middle-size);
    color: #000000;
    padding: var(--middle-size);
}

.btn:active {
    transform: scale(0.94);
}